.hero {
    padding: 3% 4%;
}

.app-title {
    text-align: center;
    color: white;
}

.btn {
    border-left: 1px solid black;
    background-color: #06AED5;
    color: white;
}

.weather-container {
    padding: 15px;
    border: 1px solid black;

}

.container {
    padding: 15px;
}